@reference "@/index.css";

.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 1;
	backdrop-filter: blur(10px);
}

.message {
	white-space: nowrap;
	font-size: 20rem;
}
